.container-fluid ul,
.details_image_container {
  margin-top: 1rem;
}

.details_image_container .detail-block {
  width: 500px;
  height: 350px;
  border-radius: 10px;
  opacity: 0.8;
}

.description_container {
  width: 60%;
  margin-left: 2%;
  margin-right: 3%;
}

.content_container {
  margin-bottom: 1rem;
}

.description_container h2,
.description_container h5 {
  text-align: right;
  color: rgb(104, 71, 71);
}

.price_per_day_div {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: lightgray;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.price_per_day_div p {
  margin: 0;
  padding: 0;
}

.description_div {
  background-color: rgb(212, 214, 214);
  height: 200px;
  width: 100%;
  overflow-y: scroll;
  padding: 0.5rem;
  border-radius: 3px;
  margin-bottom: 2rem;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.first_p {
  text-align: center;
}

.description_div::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.reseve_btn_div {
  display: flex;
  justify-content: right;
}
